
.centered {
    margin: auto;
    max-width: 40%;
 }

 .body-custom {
    padding: 20px 20% 0 20%;
    background-color: rgba(0, 0, 0, 0.68);
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    overflow: auto
 }